.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  width: calc(100vw - 144px);
}

.grid {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 16px;
}

.edit {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.image {
  width: 100%;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
}

.editWithButton {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}
